*
{
    border:0;
    padding:0;
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
    font-size: 20px;
    font-weight: 300;
    font-family: "lato", "arial";
    color: lightslategray;
    background-color: white;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
.row
{
    margin: 0 auto;
    max-width: 1140px;
}
header
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.699),rgba(0, 0, 0, 0.699)), url(img/hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed
}
.logo
{
    margin-top: 20px;
    height: 100px;
    width: auto;
    float: left;
}
.logo-black{
    display: none;
    margin-top: 5px;
    height: 50px;
    width: auto;
    float: left;}
.logo:hover
{
    height: 110px;
    padding-left: 20px;
    transition: height 0.5s,padding-left 0.5s;
}
.main-nav
{
    float: right;
    list-style:none;
}
.main-nav li
{
    display:inline-block;
    margin:5px;
}

.main-nav li a:visited,
.main-nav li a:link
{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    /* padding-bottom: 2px; */
}

.main-nav li a:hover,
.main-nav li a:active
{
    border-bottom: 2px solid #FB8C00;
}
.mobile-nav
{
    float:right;
    cursor:pointer;
    margin-top: 30px;
    display: none;
}
.nav-icon
{
    font-size:30px;
    color: white;
}
.sticky
{
    position:fixed;
    width: 100%;
    top:0;
    left:0;
    background-color: rgba(255, 254, 254, 0.822);
    box-shadow: 0 2px 2px rgb(223, 223, 223);
    z-index:9999;
}
.sticky .main-nav{ margin-top:5px}
.sticky .main-nav li a:visited,
.sticky .main-nav li a:link
{
    margin-left: 15px;
    color:#555;
    padding-bottom: 15px;
}
 .sticky .logo{display: none;}
.sticky .logo-black{display: block;}
h1,h2,h3
{
    font-weight: 300;
    text-transform: uppercase;
}
h1
{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 240%;
    color:white;
    word-spacing: 4px;
    letter-spacing: 1px;
}
h2{
    font-size:180%;
    letter-spacing: 1px;
    text-align: center;
    word-spacing: 2px;
}
h2:after
{
    display: block;
    width: 500px;
    content: " ";
    height: 2px;
    margin:0 auto;
    background-color: #FB8C00;
    margin-top: 10px;
}
.long-copy
{
    width:70%;
    margin: 5% 15% 5% 15%;
    line-height: 145%;
}
.hero-text-box
{
    position: absolute;
    width: 1140px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.btn:link,
.btn:visited
{
    margin-top: 0px;
    margin-bottom: 20px;
    display: inline-block;
    text-decoration: none;
    padding:10px 30px;
    font-weight: 300;
    border-radius:200px;
    transition: background-color , color 0.4s;
} 
.btn-full:link,
.btn-full:visited
{
    color:white;
    margin-right: 10px;
    background-color: #FB8C00;
}
.btn-ghost:link,
.btn-ghost:visited
{
    color:#FB8C00;
    border:1px solid #FB8C00;
}
.btn:hover
{
    color:black;
    background-color: #ea8300 ;
}
.box
{
    padding: 1%;
}
h3
{
    font-size: 110%;
    margin-bottom: 15px;
}
.box p{
    font-size:90%;
    line-height: 140%;
}
.icon-big
{
    color:#ea8300;
    font-size: 400%;
    display: block;
    margin:5px 50px;
}
.section-meal
{
    margin-top:5%;
}
.menu-showcase
{    list-style: none;
    width: 100%;
}
.menu-showcase li
{
    display: block;
    float:left;
    width:25%;
}
.meal
{
    width: 100%;
    margin:0;
    overflow: hidden;
    background-color: black;
}
.meal img
{
    width: 100%;
    height:auto;
    transform :scale(1.15);
    opacity: 0.7;
    transition: transform 0.5s;
}
.meal img:hover
{
    opacity: 1;
    transform :scale(1.03);
    transition: transform 0.5s;
}
/* .clearfix {zoom:1}
.clearfix:after
{
    content:".";
    clear:both;
    display:block;
    height:0;
    visibility: hidden;
} */
.section-step
{
    background-color: #eeecea;
}
.section-step h2
{
    margin-top:50px;
}
.steps-box
{
    margin-top: 30px;
}
.steps-box:first-child
{
    text-align: left;
    padding-left:10%;
}
.steps-box:last-child
{
    padding-left:3%;
    margin-top: 70px;
}
.app-screen
{
    width:40%;
}
.work-steps div
{
    display: inline-block;
    height: 55px;
    width:55px;
    text-align: center;
    padding: 5px;
    border:1px solid white;
    border-radius: 50%;
    background-color: #ea8300;
    color:white;
    font-size:150%;
    float:left;
    margin-right: 25px;
}
.btn-app img
{
    margin-top:100px;
    height:50px;
    width:auto;
    margin-right:10px;
}
.box img
{
    padding:20px 5px;
    width:100%;
    height:auto;
    margin-bottom: 10px;
}
.section-cities .box
{
    border: 1px solid grey;
}
.section-cities h3
{
    text-decoration: underline;
    text-align: center;
}
.city-feature
{
    margin-top:10px;

}
a:link,
a:visited
{
    border-bottom: 1px solid #ea8300;
    text-decoration: none;
    color:#ea8300;
}
.section-testimonials
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.699),rgba(0, 0, 0, 0.699)), url(img/back-customers.jpg);
    background-size:cover;
    color :white;
    background-attachment: fixed;
}
blockquote
{
    font-style: italic;
    padding:2%;
    line-height:140%;
    position: relative;
    margin-top:40px;
}
blockquote:before
{
    display: block;
    position:absolute;
    content:",,";
    top:-50;
    font-size:400%;
}
cite
{
    font-size:90%;
    margin-top:25px;
}
cite img 
{
    border-radius:50%;
    height:50px;
    margin-right: 10px;
    vertical-align: middle;
}
#price
{
    font-size:250%;
    padding-right:10px;
    color:#ea8300;
}
.sign-up .col
{
    border:2px solid grey;
    padding:10px;
    margin-bottom:10px;
}
.pricing
{
    margin-bottom:30px;
}
.sign 
{
    background-color: #ea8300;
    color:black;
    padding: 5px;
    margin-top: 30px;
    width:150px;
    margin-left: 100px;
    border-radius:20px;
    transition: color 0.5s;
}
.sign:hover
{
    color:white;
    transition: color 0.5s;
}
input
{
    display: inline-block;
    border:2px solid grey;
    background-color: #eeecea;
    width:500px;
    margin-bottom: 20px;
    margin-right: 10px;
}
input::placeholder
{
    font-size: small;
}
textarea
{
    background-color: #eeecea;
    border: 2px solid grey;
    height: 100px;
    width: 500px;
}
.submission
{
    background-color: #ea8300;
    color:black;
    margin-top: 30px;
    margin-left: 500px;
    margin-bottom: 20px;
    border-radius:20px;
    transition: color 0.5s;
    height: 40px;
    width:100px;
}
.submission:hover
{
    color:white;
    transition: color 0.5s;
}
.foot
{
    background-color:rgb(36, 36, 36);

}
.foot .col
{
    height:200px;
}
.base li
{
    display: inline-block;
    margin: 10px ;
}
.base ul 
{
    height: 20px;
}
.base li a
{
    text-decoration: none;
    color:rgb(180, 180, 180);
    text-transform: uppercase;
    font-size: 85%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    padding-bottom: 5px;
}
.base li a:hover
{
    border-bottom: 2px solid #FB8C00;
}
.social-links
{
    margin-top: 30px;
    float: right;
}
.social-links ul
{
    height: 20px;
    padding-right: 50px;
}
.social-links li
{
    display: inline-block;
    margin-right: 20px ;
}
.social-links li a
{
    color:rgb(180, 180, 180);
    font-size: 90%;
    padding-bottom: 5px;
}
footer p
{
    margin-top: 0px;
    text-align: center;
}
.animate-1,
.animate-2,
.animate-3
{
    opacity: 0;
    animation-duration: 1s;
}
.animate-1.animate,
.animate-2.animate,
.animate-3.animate
{
    opacity:1;
}

@media  only screen and (max-width :1200px)
{
    .hero-text-box
    {
        width:100%;
        padding:0 2%;
    }
    .row
    {
        padding : 0 2%;
    }
}
@media only screen and (max-width :1023px)
{
    body{ font-size: 18px;}
    .section { padding: 60px 0px;}
    .long-copy
    {
        width:80%;
        margin: 5% 10%;
    }
    .steps-box:last-child{ margin-top: 10px;}
    .steps-box { margin-top: 10px; }
    .work-steps { margin-bottom: 40px;}
    .app-screen{ width:50%; }
    .city-feature{ font-size: 85%;}
    blockquote{ font-size: 90%;
                 height:250px;}
    .sign-up col { font-size: 80%;}
    .sign {width:120px;
           margin-left: 60px;
          }
    .pricing,.details{ font-size: 90%;

    }
}
@media only screen and (max-width :787px)
{
    .col{ width:100%;}
    .mobile-nav{display: inline-block;}
    .main-nav{float:left;
    display: none;}
    .main-nav li{display: block;}
    .main-nav li a:link,
    .main-nav li a:visited
    {
        display:block;
        border: 0;
        padding-left: 100px;
    }
    .sticky .main-nav li a:visited,
.sticky .main-nav li a:link
{
    font-size: 80%;
    color:black;
}
.sticky .nav-icon{color:black;}
}


@media only screen and (max-width :480px)
{

}